@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #141414;
  --white: #ffffff;
  --gray: #49494a;
  --primary-color: #e8eaea;
  --accent-color: #476966;
}

body {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  background-color: var(--white);
  /* background: #eaeaea; */
  /*   background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 45%,
    rgb(117, 160, 160) 100%
  ); */
}

html {
  scroll-behavior: smooth;
}

/* Text */
a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
}

a:hover {
  color: var(--white);
  border: 2.5px solid var(--accent-color);
}

li {
  list-style: none;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.4rem;
}

i {
  margin-right: 1rem;
}

p {
  font-size: 1.2rem;
}

@media (max-width: 750px) {
  h1 {
    font-size: 2.5rem;
  }
}

/* Layout */
.wrapper {
  padding: 3rem 6rem;
}

@media (max-width: 750px) {
  .wrapper {
    padding: 5rem 0;
  }
}

.text-center {
  text-align: center;
}

/* Colors */
.bg-primary {
  background-color: var(--primary-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

.bg-black {
  background-color: var(--black);
}

.bg-img {
  position: relative;
  background: url("/images/laptop.jpg") center/cover no-repeat;
  color: var(--white);
  height: 90vh;
}

.bg-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  z-index: 0;
}

.bg-img > * {
  position: relative;
  z-index: 1;
}

/* .bg-white {
  background-color: var(--white);
} */

/* Buttons */
.button {
  display: inline-block;
  width: 7rem;
  text-align: center;
  padding: 0.5rem 0;
  background-color: rgb(71, 105, 102);
  color: var(--white);
  border: 2px solid var(--accent-color);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.button:hover {
  background-color: var(--black);
  color: var(--white);
}

.button-black {
  background-color: var(--black);
  color: var(--white);
}

.button-black:hover {
  background-color: var(--accent-color);
  color: var(--white);
}

/* Cards */
.card-container {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  color: var(--black);
  margin: 2rem;
  max-width: 40rem;
  border-radius: 5px;
  color: var(--white);
}

.card a {
  margin-top: auto;
  align-self: center;
}

.card h4 {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.card ul {
  margin-top: 4rem;
}

.card-small {
  position: relative;
  background-color: var(--black);
  color: var(--white);
  padding: 2rem;
  flex: 1;
}

.card-flatmate {
  position: relative;
  background: url("/images/laptop.jpg") center/cover no-repeat;
}

.card-devize {
  position: relative;
  background: url("/images/developers-working.jpg") center/cover no-repeat;
}

.card-consid {
  position: relative;
  background: url("/images/office-space.jpg") center/cover no-repeat;
}

.card-small::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 12px;
}

.card-small p {
  margin-bottom: 1.5rem;
}

.card-small a {
  border: 2px solid var(--accent-color);
  transition: background-color 0.15s ease;
}

.card-small a:hover {
  background-color: var(--accent-color);
}

.card-small h4 {
  font-weight: 500;
  font-size: 1.5rem;
}

.card-small h4,
p,
a {
  position: relative;
  z-index: 1;
}

.card li {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 1rem 0 0.5rem 0;
}

@media (max-width: 750px) {
  .card-container {
    flex-direction: column;
  }
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 8rem;
  position: static;
  top: 0;
  overflow: hidden;
  background-color: var(--black);
  z-index: 1;
  color: var(--white);
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 1rem;
  font-size: 1.2rem;
}

nav a:hover {
  color: var(--accent-color);
  border: none;
}

.logo {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
  border: 2px solid var(--accent-color);
}

@media (max-width: 750px) {
  nav {
    flex-direction: column;
    padding: 1rem 2rem;
    background-color: var(--black);
    color: var(--white);
    position: relative;
  }

  nav ul {
    display: none;
  }
}

/* Hero */
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  height: 85vh;
  color: var(--white);
  background-color: var(--black);
}

#hero img {
  width: 370px;
  height: 370px;
  border-radius: 100%;
  object-fit: cover;
  object-position: 80% 10%;
}

#hero-text {
  text-align: center;
}

#hero h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#hero .buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 750px) {
  #hero {
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
    height: 90vh;
  }

  #hero img {
    width: 250px;
    height: 250px;
  }

  #hero h2 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  #hero .hero-text {
    text-align: center;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
  max-width: 45rem;
  border-radius: 5px;
}

.timeline-item {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1rem 2rem;
  align-items: start;
}

.year {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 15px;
  color: var(--white);
  display: flex;
  align-items: center;
  grid-column: 1;
}

.info {
  display: flex;
  flex-direction: column;
  color: var(--white);
  grid-column: 2;
}

.title {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0.25rem 0;
  padding: 0.5rem;
  border: 2px solid transparent;
  transition: border 0.15s ease;
  color: var(--white);
}

.title:hover {
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.details {
  display: none;
  font-size: 1rem;
  margin: 0.25rem 0;
  color: var(--white);
  max-width: 25rem;
}

.details.show {
  display: block;
}

@media (max-width: 750px) {
  .timeline-item {
    grid-template-columns: 1fr;
    gap: 0 2rem;
  }

  .year {
    font-size: 1rem;
    margin-bottom: 0.25rem;
    justify-content: center;
  }

  .title {
    font-size: 1.2rem;
    text-align: center;
  }

  .details {
    font-size: 0.95rem;
  }
}

/*Education*/
.education-text {
  text-align: center;
  max-width: 70rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 1rem;
}

.education-text h4 {
  font-size: 1.5rem;
}

/* Video */
.video-container {
  display: flex;
  max-width: 80rem;
  gap: 2rem;
  margin: 0 auto;
  color: var(--white);
}

iframe {
  border: none;
}

@media (max-width: 750px) {
  .video-container {
    flex-direction: column;
    max-width: 20rem;
    text-align: center;
  }

  .video-container iframe {
    width: 100%;
    height: 200px;
  }
}

/* Footer */
footer {
  padding: 1.5rem 0;
  color: var(--white);
  text-align: center;
  background: var(--black);
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  margin-left: 2rem;
}

footer a:hover {
  border: none;
  color: var(--accent-color);
}
@media (max-width: 750px) {
  footer {
    flex-direction: column;
  }
}
